body {
    color: #666666;
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
}

#all {
    width: 1000px;
    margin: 0 auto;
    display: table;
}

#header {
    width: 100%;
}

#logo {
    height: 210px;
    
    color: white;
    background-color: #00a3e8;
}

img.logo {
    padding: 5px;
}

span.logotext {
    font-size: xx-large;
    margin-left: 50px;
}

#menubarhor {
    font-family: 'open sans condensed';
    font-size: 20px;
    height: 55px;
    color: black;
    background-color: white;
}

.menubarhor {
    text-transform: uppercase;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
}

ul.menubarhor {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menubarhor li {
    float: left;
}

ul.menubarhor a:hover {
    background: #cccccc;
    text-decoration: none;
    color: white;
}

ul.menubarhor a {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 26px;
    color: #333333;
    width: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#centrum {
    margin-top: 25px;
    margin-bottom: 25px;
}

#content {
    width: 700px;
    float: left;
}

#blueline {
    background-color: white; //#00a3e8;
    height: 3px;
    width: 730px;
}

#postwin {
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
}

#post {
    color: black;
}

span.postthumbnail {
    float: right;
    top: 0;
    position: absolute;
    right: 0;
}

#postinfo {
    color: #aaaaaa;
    width: 100%;
}

span.postauthor {
    background: url(../img/icons/author.png) no-repeat scroll left 2px transparent;
    padding: 0px 14px 0px 20px;
    float: left;
}

span.postdate {
    background: url(../img/icons/date.png) no-repeat scroll left 2px transparent;
    padding: 0px 14px 0px 20px;
    margin-left: 50px;
}

h2.posttitle {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    font-family: 'open sans condensed';
}

p.postdesc {
    font-size: 110%;
    width: 500px;
}

#menubar {
    width: 260px;
    margin-left: 750px;
    border: 1px solid #e1e1e1;
    background-color: white;
    padding: 2px;
}

#menudark {
    background-color: #eeeeee;
    padding: 30px 10px 15px 10px;
}

#menu {
    margin-bottom: 25px;
    border: 1px solid #e1e1e1;
}

h2.menu {
    border-bottom: 3px solid #ddddde;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}

#footer {
    width: 100%;
}

#extends {
    background-color: #eeeeee;
}

#extcol {
    font: 12px/16px "Helvetica Neue", Arial, sans-serif;
    color: black;
    width: 320px;
    height: 325px;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: white;
    border: 2px solid #e1e1e1;
}

#extcol h3 {
    font-size: 18px;
    border: 1px solid #e8e8e8;
    margin-top: 0;
    padding: 12px;
    color: #292F33;
}

#extcol img {
    border-radius: 4px;
}

#extcol p {
    font-size: 14px;
    line-height: 16px;
    vertical-align: baseline;
    outline: 0px none;
    padding: 10px;
}

a {
    color: #0084B4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#infofooter {
    clear: both;
    height: 40px;
    background-color: #00a3e8;
    text-align: center;
    color: white;
}

span.infofooter {
    line-height: 40px;
}

input.searchtext {
    background-image: url(../img/icons/search-icon.png);
    background-position: 5px 8px;
    background-repeat: no-repeat;
    height: 30px;
    width: 130px;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 2px 10px 0px 26px;
    font-size: 12px;
}

input.bluesubmit:hover{
    background-color: black;
}

input.bluesubmit {
    color: white;
    padding: 5px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #00a3e8;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border: none;
    cursor: pointer;
}

a.bluelink:hover {
    background-color: black;
}

a.bluelink {
    text-decoration: none;
    color: white;
    padding: 6px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #00a3e8;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border: none;
    cursor: pointer;
}

ul.menu li {
    padding: 1px;
    list-style: none;
    font-size: 110%;
}

ul.menu li:before {
    content: "\2023";
    padding-right: 5px;
}

ul.menu a {
    text-decoration: none;
    color: #666666;
}
ul.menu a:hover {
    color: #00a3e8;
}
